*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-family: "myriad-pro", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-size: 62.5%;
    text-rendering: optimizeLegibility;
    font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $white;
    background-color: $primary;
    background-image: linear-gradient( to bottom, $primary 0%, $tertiary 100% );
}

html,
body,
#app,
main {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;

    @include bp( 700px ) {
        &.app {
            padding-left: 200px;
        }
    }
}

button {
    appearance: none;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    border-radius: 0;
    cursor: pointer;
    user-select: none;

    &.plain {
        background: transparent;
    }
}

input {
    appearance: none;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: 1.6rem;
    margin: 0;
    padding: 8px 8px 6px;
    border-radius: 0;

    &::placeholder {
        font-family: inherit;
        font-size: inherit;
        font-weight: 200;
        color: inherit;
        opacity: 0.7;
    }

    &:not([type="submit"]):not(.plain) {
        background: transparent;
        border-bottom: 1px solid;
        transition: background 0.25s ease, border 0.25s ease;

        &:focus {
            outline: none;
            background: rgba( 0, 0, 0, 0.1 );
            -webkit-backdrop-filter: blur( 10px );
            border-color: transparent;
        }
    }

    &.plain {
        background: transparent;
    }
}

button:not(.plain),
input[type="submit"] {
    display: block;
    width: 100%;
    cursor: pointer;
    background: $secondary;
    background: linear-gradient( to top, darken( $secondary, 5% ) 0%, $secondary 100% );
    padding: 8px;
    border-radius: 30px;
    color: darken( $secondary, 25% );
    font-weight: 600;
    margin-top: 20px;
    box-shadow: 0 0 14px 0 rgba( $secondary, 0.8 ),
                0 14px 20px -10px rgba( darken( $secondary, 24% ), 1 );
    transition: background 0.25s ease, box-shadow 0.25s ease;

    &:hover {
        background: linear-gradient( to top, darken( $secondary, 2% ) 0%, $secondary 100% );
        box-shadow: 0 0 16px 0 rgba( $secondary, 0.9 ),
                    0 14px 20px -10px rgba( darken( $secondary, 20% ), 1 );
    }

    &:active {
        background: linear-gradient( to top, darken( $secondary, 10% ) 0%, darken( $secondary, 5% ) 100% );
        box-shadow: none;
    }
}
