$primary: #2d9df3;
$secondary: #6adccf;
$tertiary: #b180f7;
$quarternary: #fa9b85;
$white: #FFFFFF;
$tab-height: 59px;
$nav-height: 100px;

@mixin content-container() {
    width: 100%;
    padding-right: 5%;
    padding-left: 5%;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
}

@mixin blur( $color: rgba( $white, 0.7 ) ) {
    background: $color;
    backdrop-filter: blur( 10px ) saturate( 150% ) brightness( 120% );
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.counter {
    font-size: 1.2rem;
    font-weight: 800;
    vertical-align: top;
    margin-left: 4px;
}

html {
    font-family: "myriad-pro", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-size: 62.5%;
    text-rendering: optimizeLegibility;
    font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $white;
    background-color: $primary;
    background-image: linear-gradient( to bottom, $primary 0%, $tertiary 100% );
    padding-top: $nav-height;
}

html,
body,
#app {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

main {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding-bottom: $tab-height * 2;
}

/*nav*/.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $nav-height;
    padding-top: 10px;
    z-index: 3;

    &__bar {
        @include content-container();
        display: flex;
        justify-content: space-between;
    }

    /*form*/&__title__form {
        flex: 1;
        padding: 0 10px;
    }

    /*input*/&__title {
        text-align: center;
        width: 100%;
        text-overflow: ellipsis;
    }

    /*button*/.edit {
        min-width: 50px;
        text-align: right;

        &.disabled {
            pointer-events: none;
            opacity: 0.5;
        }
    }
}

/*form*/.addTodo {
    @include content-container();
    margin-top: 20px;

    input {
        width: 100%;
    }

    input[type='submit'] {
        display: none;
    }
}

/*ul*/.todo {
    margin-top: 20px;
    list-style: none;
    position: relative;
    z-index: 1;

    li {
        font-weight: 300;
        font-size: 1.8rem;
        line-height: 1.5;
    }

    &__default {
        text-align: center;
    }

    /*li*/&__item {
        min-height: 62px;
        user-select: none;
        transition: transform 0.25s ease;

        &__inner {
            @include content-container();
            padding: 20px 5% 20px calc( 5% + 32px );
            position: relative;
        }

        &.item-enter {
            transform: translate3d( 0, -20px, 0 );
            opacity: 0;
            transition: opacity 0.5s ease, transform 0.5s ease;
            // min-height: 0;
            // max-height: 0;
            // transition: max-height 0.25s ease;
            // overflow: hidden;
        }

        &.item-enter-active {
            opacity: 1;
            transform: translate3d( 0, 0, 0 );
            // max-height: 62px;
        }

        &.will-delete {
            z-index: 2;
        }

        &__screen {
            display: none;

            .will-delete & {
                display: block;
                position: absolute;
                width: 100vw;
                height: 200vh;
                top: -100vh;
                right: -100px;
                z-index: 1;
            }
        }

        &.will-delete {
            transform: translate3d( -100px, 0, 0 );
        }

        &__text {
            width: 100%;
            text-overflow: ellipsis;

            .complete & {
                text-decoration: line-through;

                &:focus {
                    text-decoration: none;
                }
            }
        }

        &__check {
            border: 1px solid $white;
            border-radius: 50%;
            width: 22px;
            height: 22px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 5vw;
            margin: auto;
            fill: $secondary;
            transition: border-color 0.25s ease;
            cursor: pointer;

            svg {
                pointer-events: none;
            }

            .editing & {
                fill: $quarternary;
            }

            .editing &,
            .complete & {
                border-color: transparent;
            }

            svg {
                width: 20px;
                height: 20px;
                opacity: 0;
                transform: scale( 0.7 );
                transition: opacity 0.25s ease, transform 0.25s ease;

                .editing &,
                .complete & {
                    opacity: 1;
                    transform: scale( 1 );
                }
            }
        }

        &__delete {
            position: absolute;
            height: 100%;
            width: 100px;
            top: 0;
            right: -100px;
            z-index: 4;
            background: $quarternary;

            &__text {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                width: 100%;
                height: 30px;
                line-height: 30px;
                text-align: center;
            }
        }
    }
}

/*ul*/.tablist {
    @include blur();
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $tab-height;
    z-index: 2;
    transition: transform 0.25s ease;

    .editing & {
        transform: translate3d( 0, $tab-height, 0 );
    }

    &__inner {
        @include content-container();
        // max-width: 1000px;
        display: flex;
        list-style: none;
    }
}

/*li*/.tab {
    font-size: 1.6rem;
    color: rgba( 0, 0, 0, 0.3 );
    flex: 1;
    text-align: center;
    // line-height: $tab-height;
    cursor: pointer;
    transition: color 0.25s ease;
    padding: 8px 5px 5px;
    user-select: none;

    &__icon {
        height: 24px;
        width: auto;
        display: block;
        margin: 0 auto;
        fill: rgba( 0, 0, 0, 0.3 );
        margin-bottom: 6px;

        .selected & {
            fill: $tertiary;
        }
    }

    &.selected {
        color: $tertiary;
    }

    + .tab {
        border-left: 1px solid rgba( 0, 0, 0, 0.1 );
    }
}

button {
    appearance: none;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    border-radius: 0;
    cursor: pointer;
    user-select: none;

    &.plain {
        background: transparent;
    }
}

input {
    appearance: none;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: 1.6rem;
    margin: 0;
    padding: 8px 8px 6px;
    border-radius: 0;

    &::placeholder {
        font-family: inherit;
        font-size: inherit;
        font-weight: 200;
        color: inherit;
        opacity: 0.7;
    }

    &:not([type="submit"]):not(.plain) {
        background: transparent;
        border-bottom: 1px solid;
        transition: background 0.25s ease, border 0.25s ease;

        &:focus {
            outline: none;
            background: rgba( 0, 0, 0, 0.1 );
            -webkit-backdrop-filter: blur( 10px );
            border-color: transparent;
        }
    }

    &.plain {
        background: transparent;
    }
}

button:not(.plain),
input[type="submit"] {
    display: block;
    width: 100%;
    cursor: pointer;
    background: $secondary;
    background: linear-gradient( to top, darken( $secondary, 5% ) 0%, $secondary 100% );
    padding: 8px;
    border-radius: 30px;
    color: darken( $secondary, 25% );
    font-weight: 600;
    margin-top: 20px;
    box-shadow: 0 0 14px 0 rgba( $secondary, 0.8 ),
                0 14px 20px -10px rgba( darken( $secondary, 24% ), 1 );
    transition: background 0.25s ease, box-shadow 0.25s ease;

    &:hover {
        background: linear-gradient( to top, darken( $secondary, 2% ) 0%, $secondary 100% );
        box-shadow: 0 0 16px 0 rgba( $secondary, 0.9 ),
                    0 14px 20px -10px rgba( darken( $secondary, 20% ), 1 );
    }

    &:active {
        background: linear-gradient( to top, darken( $secondary, 10% ) 0%, darken( $secondary, 5% ) 100% );
        box-shadow: none;
    }
}

.user {
    position: relative;

    &__gravatar {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    &__settings {
        width: 220px;
        position: absolute;
        top: 40px;
        left: 5%;
        color: $tertiary;
        font-size: 1.2rem;
        line-height: 1.5;
        opacity: 0;
        z-index: -1;
        transform: scale( 0.8 );
        pointer-events: none;
        transition: opacity 0.3s ease, z-index 0.3s step-end, transform 0.3s ease;
        font-weight: 600;

        &__screen {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            pointer-events: none;

            .settings--visible & {
                pointer-events: auto;
                z-index: 2;
            }
        }

        .settings--visible & {
            pointer-events: auto;
            opacity: 1;
            z-index: 3;
            transform: scale( 1 );
            transition: opacity 0.1s ease, z-index 0.1s step-start, transform 0.1s ease;

            &__outer {
                transition: box-shadow 0.25s ease;
                box-shadow: 0 0 10px 0 rgba( darken( $primary, 40% ), 0.2 ),
                            0 20px 14px -10px rgba( darken( $primary, 40% ), 0.3 );
            }
        }

        &:before {
            content: '';
            position: absolute;
            top: -6px;
            left: 10px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 6px 6px 6px;
            border-color: transparent transparent rgba( 255, 255, 255, 0.7 ) transparent;
            transform: translateZ( 0 );
        }

        &__outer {
            border-radius: 10px;
            overflow: hidden;
            transform: translateZ( 0 );
            transition: box-shadow 0.1s ease;
        }

        &__inner {
            @include blur();
            transform: translateZ( 0 );
            padding: 20px;
        }
    }

    &__email {
        display: block;
        font-weight: 400;
    }

    &__logout {
        display: block;
    }
}

/*form*/.login-form {
    position: relative;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
    backface-visibility: hidden;

    &__title {
        font-weight: 200;
        font-size: 3.2rem;
        text-align: center;
        margin-bottom: 20px;
    }

    &__fields {
        display: flex;

        input {
            max-width: 140px;
            flex: 1;

            + input {
                margin-left: 20px;
            }
        }
    }
}
