.listSwitcher {
    position: relative;
    padding-right: 10px;

    @include bp( 700px ) {
        @include blur();
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        width: 200px;
        height: 100%;
        box-shadow: inset -6px 0 15px 0 rgba( darken( $primary, 40% ), 0.2 );
        color: $primary;
        padding: 0;
    }

    &__dropdown {
        position: absolute;
        top: 4px;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 4px 0 4px;
        border-color: $white transparent transparent transparent;

        @include bp( 700px ) {
            display: none;
        }
    }

    &__button {
        font-size: 2.6rem;
        height: 32px;
        width: 28px;
        position: relative;

        &__inner {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
        }
    }

    &__list {
        position: absolute;
        top: 40px;
        width: 120px;
        right: -20px;
        color: $primary;
        font-size: 1.4rem;
        line-height: 1.5;
        transform: translateZ(0);
        opacity: 0;
        z-index: -1;
        transform: scale( 0.8 );
        pointer-events: none;
        transition: opacity 0.3s ease, z-index 0.3s step-start, transform 0.3s ease;

        &:before {
            content: '';
            position: absolute;
            top: -6px;
            right: 18px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 6px 6px 6px;
            border-color: transparent transparent rgba( 255, 255, 255, 0.7 ) transparent;
            transform: translateZ( 0 );
        }

        .visible + & {
            opacity: 1;
            transform: scale( 1 );
            z-index: 4;
            pointer-events: auto;
        }

        &__outer {
            border-radius: 10px;
            overflow: hidden;
            transform: translateZ( 0 );
            transition: box-shadow 0.25s ease;
            box-shadow: 0 0 10px 0 rgba( darken( $primary, 40% ), 0.2 ),
                        0 20px 14px -10px rgba( darken( $primary, 40% ), 0.3 );

            @include bp( 700px ) {
                border-radius: 0;
                overflow-y: scroll;
                -webkit-overflow-scrolling: touch;
                box-shadow: none;
            }
        }

        &__inner {
            @include blur();
            padding: 10px 0 4px;

            @include bp( 700px ) {
                padding: 0;
                background: transparent;
                backdrop-filter: none;
            }
        }

        @include bp( 700px ) {
            opacity: 1;
            transform: scale( 1 );
            z-index: 1;
            position: relative;
            width: 100%;
            top: auto;
            right: auto;
            pointer-events: auto;

            &:before {
                display: none;
            }
        }

        &__item {
            padding: 8px 10px 4px;
            border-bottom: 1px solid $primary;
            border-bottom: 1px solid rgba( $primary, 0.5 );
            cursor: pointer;

            &:last-of-type {
                border-bottom: 0;
            }
        }
    }
}
