@import 'partials/reset';
@import 'partials/colors';
@import 'partials/mixins';
@import 'partials/defaults';
@import 'partials/todoList';
@import 'partials/tabList';
@import 'partials/user';
@import 'partials/loginForm';
@import 'partials/navBar';
